* {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin: 0;
	padding: 0;
}

header {
	background-color: #087858;
	display: flex;
	justify-content: space-around;
	color: white;
	height: 80px;
}
.header_left {
	display: flex;
	align-items: center;
	gap: 20px;
}
.header_right {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 12%;
}
button {
	border-style: none;
}
h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 65px;
	font-size: xx-large;
}
a {
	text-decoration: none;
	color: white;
}
.btnDonation {
	background-color: #de2525;
	color: white;
	border-radius: 8px;
	height: 40px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
footer,
h5 p {
	color: white;
}
form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.45);
	border-radius: 5px;
}
.forms {
	width: 80%;
	margin: 10%;
	border: solid 2px #d9d9d9;
	border-radius: 5px;
}
input {
	border: solid 2px #d9d9d9;
	height: 30px;
}
select {
	border: solid 2px #d9d9d9;
	height: 30px;
}
#subject {
	padding-left: 2%;
	font-weight: 600;
}
#message {
	width: 100%;
	border: solid 2px #d9d9d9;
}
.forms img {
	width: 17px;
	height: 17px;
}
.btnSend {
	color: white;
	background-color: #08956a;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2%;
	font-weight: bold;
	border-radius: 5px;
}
footer {
	background-color: #1f2937;
	display: flex;
	justify-content: space-around;
	height: 150px;
}
.footer-description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 37.5px;
	padding-bottom: 37.5px;
	gap: 20px;
}
.footer-contact {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 37.5px;
	padding-bottom: 37.5px;
	gap: 20px;
}
.footer-mail {
	display: flex;
	gap: 10px;
}
footer img {
	width: 20px;
	height: 20px;
}
footer h5 {
	display: inline flex;
}
